@model dynamic

@{
    ViewBag.Title = "Calculadora Romana - Multiplcacion de Numeros Romanas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculadora Romana - Multiplcacion de Numeros Romanas</h2>
