<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiPrimerMVC;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="Server=2b999ad5-0dec-4115-9eeb-a3db0187b7f8.sqlserver.sequelizer.com;Database=db2b999ad50dec41159eeba3db0187b7f8;User ID=andciyoammsyrokf;Password=Bjy8HmXCBoKmovQLNxsGKuykypMbWb5oUBd4fM5WRNLfvwTiVfsrpYJgSoHsGWPz;"/>
</connectionStrings>